<h1> Welcome to my homepage!</h1>
<p>If a player uses rock, he wins over the others. If a player uses scissors,
  he wins over paper but loose over rock. If a player uses paper, he looses over
  the others</p>
